

.card-group {
    justify-content: center;
}

.card-grid, .card {
    padding: 5px 5px !important;
    height: auto !important;
    justify-content: center;
    margin: 2rem;
    overflow: hidden;
    box-shadow: 0 2px 10px ;
}

.card-body {
    background-color: #F6F5F5;
    margin: 0;
}

.card-img {
    height: 10rem;
    width: auto;
    align-content: flex-start;
    height: 12rem;
    width: 100%;
    object-fit: cover;
    
}

.card-text {
    height: fit-content;
    margin-bottom: 2rem;
    color:black;

}
.card_title {
    padding: 1rem;
  }

.card_description {
    padding: 0 1rem;
  }

.btn, .btn-primary {
    position: left;
    bottom: 5px;
    color: #263238;
    overflow: auto;
}

card:hover {
    transform: scale(1.02);
  }