
.articleCard {
  max-width: 100%;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  transition: all;
  transition-property: all;
  transition-duration: 150ms;
}

.articleCard:hover {
  transform: scale(1.01);
}

.articleCard img { max-width: 100%; }

.articleCard__info { padding: 1rem; }
.articleCard__author {
  font-size: 0.75rem;
  color: grey;
  margin: 0;
}
.articleCard__title {
  font-size: 1.6rem;
  margin: 0;
}
.articleCard__description {
  font-size: 0.9rem;
  color: darkslategray;
}
.articleCard__baca {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
