/* General styles that is used throughout the whole application.  */

/*
  color variables
  access with var(--var-name)
*/
:root {
  --primary: #4154F1;
  --primary-dark: #2536d3;
  --dark-grey: #362E2E;
  --light-grey: #f8fafc;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  color: var(--primary);
  font-weight: bold;
}

.container-80 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.btn-filled {
  cursor: pointer;
  border-style: none;
  background-color: var(--primary);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
  transition: 0.3s;
}

.btn-filled:hover {
  background-color: var(--primary-dark);
}
