
.topic {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1 0; */
  background-color: #4169E1;
}

.topic__center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.topic__options {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.topic__options li {
  padding: 16px 32px;
  transition: all 0.3s;
}

.topic__selected {
  background-color: var(--primary-dark);
}

.topic__options li:hover {
  background-color: var(--primary-dark);
}

.topic__options a {
  font-weight: bold;
  color: white;
}
